@font-face {
    font-family: "Roboto";
    src: url("../font/RobotoCondensed-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter-VariableFont_opsz\,wght.woff2") format("woff2");
}

html{
    --fs-body: 20 px;
    /* default styling */
    --fs-xl: 3rem;
    --fs-l: 1.5rem;
    --fs-m: 1rem;
    --fs-s: 0.8rem;

    --bg-clr: #ffff;
    --box-clr: #F5F5F5;
    --index-clr: #E782A9;
    --fh-clr: #1F2D40;
    --p-tclr: #000000;
    --h-tclr: #1F2D40;

    --ff-main: "Inter", sans-serif;
    --ff-headlines: "Roboto", sans-serif;

    --lh-main: 2em;

    --fw-headlines: bold;

}

body{
    font-family: var(--ff-main);
    font-size: var(--fs-main);
    /* background-color: var(--bg-clr); */
}

main p{
    font-family: var(--ff-main);
    font-size: var(--fs-m);
    line-height: var(--lh-main);
    color: var(--p-tclr);
}

h1{
    font-family: var(--ff-headlines);
    font-size: var(--fs-xl);
    color: var(--h-tclr);
    font-weight: var(--fw-headlines);
}

h2{
    font-family: var(--ff-headlines);
    font-size: var(--fs-l);
    color: var(--h-tclr);
}

/* tilbage pil styling */

.arrow img{
    width: 50px;
}

.arrow p{
    display: flex;
}

/* footer styling */

#footer {
    background-color: rgb(31, 45, 64);
    padding: 25px;
    margin-top: 30px;
  }
  
#footer p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }

  @media (min-width: 700px) {
    #footer {
      display: flex;
      font-family: inter;
      justify-content: space-around;
      text-align: left;
      font-size: 0.7rem;
      margin-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    #footer p {
      text-align: left;
      color: rgb(255, 255, 255);
    }
 }
