@font-face {
    font-family: "Roboto";
    src: url("../font/RobotoCondensed-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter-VariableFont_opsz\,wght.woff2") format("woff2");
}

html{
    --fs-body: 20 px;
    /* default styling */
    --fs-xl: 3rem;
    --fs-l: 1.5rem;
    --fs-m: 1rem;
    --fs-s: 0.8rem;

    --bg-clr: #ffff;
    --box-clr: #F5F5F5;
    --index-clr: #E782A9;
    --fh-clr: #1F2D40;
    --p-tclr: #000000;
    --h-tclr: #1F2D40;

    --ff-main: "Inter", sans-serif;
    --ff-headlines: "Roboto", sans-serif;

    --lh-main: 2em;

    --fw-headlines: bold;

}

body{
    font-family: var(--ff-main);
    font-size: var(--fs-main);
    /* background-color: var(--bg-clr); */
}

main p{
    font-family: var(--ff-main);
    font-size: var(--fs-m);
    line-height: var(--lh-main);
    color: var(--p-tclr);
}

h1{
    font-family: var(--ff-headlines);
    font-size: var(--fs-xl);
    color: var(--h-tclr);
    font-weight: var(--fw-headlines);
}

h2{
    font-family: var(--ff-headlines);
    font-size: var(--fs-l);
    color: var(--h-tclr);
}

/* tilbage pil styling */

.arrow img{
    width: 50px;
}

.arrow p{
    display: flex;
}

/* footer styling */

#footer {
    background-color: rgb(31, 45, 64);
    padding: 25px;
    margin-top: 30px;
  }
  
#footer p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }

  @media (min-width: 700px) {
    #footer {
      display: flex;
      font-family: inter;
      justify-content: space-around;
      text-align: left;
      font-size: 0.7rem;
      margin-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }
  
    #footer p {
      text-align: left;
      color: rgb(255, 255, 255);
    }
 }

/* ------------------------------------------------
---------------------- HEADER ---------------------
--------------------------------------------------*/

/* ---------------- BURGER MENU ---------------- */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #1F2D40;
  max-height: 74px;
}

nav{
  display: flex;
}

.logo img{
  width: 150px;
  background-color: white;
  padding: 10px 25px;
  margin: 0;
}

.menu {
  display: none;
}
.burger {
  display: block;
  padding: 30px;
  align-items: flex-end;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  background-color: #1F2D40;
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  padding: 30px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  z-index: 1;
}

nav.active .menu li {
  margin: 10px 20px;
  list-style: none;
}

.menu li a {
    color: white ;
}

nav.active .menu li a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: white ;
  text-align: right;
}

nav.active .menu a:hover{
  color: #ea5045 ;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  align-self: flex-end;  
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}



@media (min-width: 800px){
  /* ----------- DESKTOP NAVIGATION ------------ */
  .burger {
      display: none;
    }
  
  header{
      display: flex;
      position: sticky;
      justify-content: flex-start;
      top: 0;
      background-color: #1F2D40;
  }
  .menu{
      display: flex;
      align-items: center;
      gap: 40px;

      background-color: #1F2D40;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: .5px;
      width: 100%;
      height: 74px;

  }

  .menu li{
      text-decoration: none;
      list-style: none;
      /* color: white; */
      padding: 0
  }

  .menu li a{
     text-decoration: none;
     transition-duration: .2s; 
     color: white ;  
  }

  /* .menu a:visited{
      color: white !important;   
  } */

  .menu a:hover{
      color: #ea5045 ;
  }

  .logo img{
      width: 150px;
      background-color: white;
      padding: 10px 25px;
      }
  }
