html {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  margin: 2rem;
}

.arrow {
  width: 5%;
  margin: 1px;
}

h1,
.navn,
.brand,
a {
  color: #1f2d40;
  text-decoration: none;
}

a :hover {
  text-decoration: underline;
  color: #545454;
}

article {
  /* background-color: rgb(163, 163, 163); */
  padding: 2rem;
  margin: 1rem;
}

img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .productlist main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
    gap: 2rem;
    margin-left: 2.5rem;
  }
  .arrow {
    width: 8%;
    margin: 1px;
  }
  h1 {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 910px) {
  .productlist main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    margin-left: 2rem;
  }

  html {
    margin: 0.1rem;
  }
}
